USE [master]
GO
/****** Object:  Database [PillsReminder]    Script Date: 13.03.2016 20:14:30 ******/
CREATE DATABASE [PillsReminder]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pills_reminder', FILENAME = N'D:\MS SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\pills_reminder.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'pills_reminder_log', FILENAME = N'D:\MS SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\pills_reminder_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PillsReminder].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PillsReminder]
GO
/****** Object:  Table [dbo].[Drugs]    Script Date: 13.03.2016 20:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Drugs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DrugName] [varchar](50) NOT NULL,
	[Type] [varchar](50) NULL,
	[Dose] [varchar](50) NULL,
	[AddInf] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DrugName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IntakeDuration]    Script Date: 13.03.2016 20:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IntakeDuration](
	[Id_person] [int] NOT NULL,
	[Id_drug] [int] NOT NULL,
	[DateFrom] [date] NOT NULL,
	[DateTo] [date] NOT NULL,
 CONSTRAINT [PK1] PRIMARY KEY CLUSTERED 
(
	[Id_person] ASC,
	[Id_drug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 13.03.2016 20:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[Password] [varbinary](50) NOT NULL,
 CONSTRAINT [PK__Users__3214EC07398207C8] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__Users__5E55825B9007790F] UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WeekIntake]    Script Date: 13.03.2016 20:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WeekIntake](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_person] [int] NOT NULL,
	[Id_drug] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Time] [time](7) NOT NULL,
	[Amount] [varchar](50) NULL,
	[Intaken] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[IntakeDuration] ADD  DEFAULT (getdate()) FOR [DateFrom]
GO
ALTER TABLE [dbo].[WeekIntake] ADD  DEFAULT ((0)) FOR [Intaken]
GO
ALTER TABLE [dbo].[IntakeDuration]  WITH CHECK ADD FOREIGN KEY([Id_drug])
REFERENCES [dbo].[Drugs] ([Id])
GO
ALTER TABLE [dbo].[IntakeDuration]  WITH CHECK ADD  CONSTRAINT [FK__IntakeDur__Id_pe__1B0907CE] FOREIGN KEY([Id_person])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[IntakeDuration] CHECK CONSTRAINT [FK__IntakeDur__Id_pe__1B0907CE]
GO
ALTER TABLE [dbo].[WeekIntake]  WITH CHECK ADD FOREIGN KEY([Id_drug])
REFERENCES [dbo].[Drugs] ([Id])
GO
ALTER TABLE [dbo].[WeekIntake]  WITH CHECK ADD  CONSTRAINT [FK__WeekIntak__Id_pe__1CF15040] FOREIGN KEY([Id_person])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[WeekIntake] CHECK CONSTRAINT [FK__WeekIntak__Id_pe__1CF15040]
GO
USE [master]
GO
